@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/bg.jpg);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #333;
	font-size: 20px;
	margin-top: 50px;
}
.horizontal-menu{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.horizontal-menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.horizontal-menu > li:hover{
	background-color: red;
}
.vertical-menu{
	position: absolute;
	list-style: none;
	width: 200px;
	background-color: rgba(0,0,0,.5);
	display: none;
}
.horizontal-menu li:hover .vertical-menu{
	display: block;
}
.vertical-menu li:hover{
	background-color: black;
}
.vertical-menu li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}